:root {
  --Orange: hsl(26, 100%, 55%);
  --Paleorange: hsl(25, 100%, 94%);
  --Verydarkblue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --Grayishblue: hsl(220, 14%, 75%);
  --Lightgrayishblue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  background: var(--White);
}

header {
  display: flex;
  align-items: center;
  gap: 20em;
  height: 4.6em;
  padding: 20px 0;
  border-bottom: 1px solid var(--Grayishblue);
}

.navbarLeft {
  display: flex;
  align-items: center;
  gap: 3em;
}

.list ul li {
  display: flex;
  gap: 2em;
  list-style: none;
}

.list ul li a {
  font-size: 14px;
  line-height: 70px;
  text-decoration: none;
  color: var(--Grayishblue);
  border-bottom: 4px solid transparent;
}

.list ul li a:hover {
  color: var(--Darkgrayishblue);
  border-bottom: 4px solid var(--Orange);
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 3em;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart-items {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--White);
  background: var(--Orange);
}

.buy {
  position: relative;
  top: 50px;
  left: -136px;
  width: 300px;
  border-radius: 10px;
  color: var(--White);
  background: var(--White);
  box-shadow: 0 2px 8px 0 var(--Darkgrayishblue);
}

.cartText {
  font-weight: 700;
  text-align: left;
  padding: 20px;
  color: var(--Verydarkblue);
  border-bottom: 1px solid var(--Grayishblue);
}

.buy p:nth-child(2) {
  font-size: 13px;
  font-weight: 400;
  padding: 0 16px;
}

b {
  color: var(--Black);
}

.addeditems {
  font-weight: 700;
  padding: 10px 20px;
  color: var(--Darkgrayishblue);
}

.addeditems img {
  border-radius: 3px;
}

.addeditems div {
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.checkout {
  border: none;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 10px 103px;
  color: var(--White);
  background: var(--Orange);
}

.profile img {
  width: 42px;
  border: 3px solid transparent;
}

.profile :hover {
  cursor: pointer;
  border: 3px solid var(--Orange);
  border-radius: 25px;
}

.hamburger {
  display: none;
}

main {
  display: flex;
  margin: 0 auto;
}

.leftContent {
  display: flex;
  justify-content: center;
  width: 100%;
}

.rightContent {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageCarousel {
  position: relative;
  top: 100px;
  width: 430px;
}

.imageCarousel img {
  position: absolute;
  width: 100%;
  border-radius: 15px;
}

.thumbnailCarousel {
  position: absolute;
  top: 630px;
  display: inline-flex;
  gap: 28px;
}

.border {
  height: 87px;
  border-radius: 12px;
  border: 3px solid transparent;
}

.border:focus {
  border: 3px solid var(--Orange);
  transition: 0.1s all ease-out;
}

.thumbnail {
  width: 83px;
  border-radius: 7px;
}

.thumbnail:hover {
  opacity: 0.3;
  cursor: pointer;
}

.hiddenContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.hiddenContent :active {
  opacity: 1;
  visibility: visible;
}

.close {
  position: relative;
  z-index: 1;
  top: 150px;
  right: -200px;
  cursor: pointer;
}

.close:active path {
  fill: var(--Orange);
}

.previous {
  position: relative;
  z-index: 1;
  top: 320px;
  left: -210px;
  cursor: pointer;
}

.previous:active path {
  stroke: var(--Orange);
}

.next {
  position: relative;
  z-index: 1;
  top: 248px;
  right: -210px;
  cursor: pointer;
}

.next:active path {
  stroke: var(--Orange);
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hiddenImage {
  width: 430px;
  border-radius: 15px;
}

.hiddenThumbnail {
  display: inline-flex;
  gap: 34px;
}

.thumbnail1 {
  width: 83px;
  border-radius: 8px;
  border: 3px solid transparent;
}

.hiddenThumbnail img:focus {
  opacity: 0.8;
}

h6 {
  margin-top: 135px;
  color: var(--Orange);
  padding: 20px;
}

h1 {
  color: var(--Verydarkblue);
  padding: 0 20px;
}

.description {
  color: var(--Darkgrayishblue);
  padding: 20px;
  font-size: 16px;
  width: 462px;
}

.discountPrice {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  color: var(--Verydarkblue);
}

.discount {
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: 700;
  font-size: 12px;
  color: var(--Orange);
  background: var(--Paleorange);
}

.mrp {
  font-size: 14px;
  padding: 6px 20px;
  text-decoration: line-through;
  color: var(--Grayishblue);
}

.btn {
  display: flex;
  padding: 20px;
  gap: 10px;
}

.quantity {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 150px;
  border-radius: 6px;
  padding: 12px;
  font-size: 15px;
  font-weight: 700;
}

.quantity:active {
  opacity: 0.8;
}

.addToCart {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border: none;
  border-radius: 6px;
  width: 242px;
  padding: 12px 70px;
  color: var(--White);
  background: var(--Orange);
}

.addToCart:active {
  opacity: 0.6;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  text-decoration: none;
  color: #3d51a2;
}

@media screen and (max-width: 1024px) {
  header {
    gap: 14em;
  }

  .imageCarousel {
    top: 40px;
    width: 320px;
  }

  .thumbnailCarousel {
    top: 450px;
    gap: 10px;
  }

  .border {
    height: 74px;
    border-radius: 11px;
  }

  .thumbnailCarousel img {
    width: 69px;
  }

  h6 {
    margin-top: 66px;
  }

  .addToCart {
    width: 300px;
  }

  .buy {
    left: -250px;
  }

  .hiddenContent {
    width: 100%;
  }
}

@media screen and (max-width: 912px) {
  header {
    gap: 6em;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  /* .list {
    display: none;
  } */

  .nav-list{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .list ul li{
    background: white;
    height: 100vh;
    width: 20vw;
    flex-direction: column;
  }

  .list ul li a{
    padding: 0 10px;
    line-height: 0px;
    color: var(--Black);
  }

  .nav-close{
    position: relative;
    top: 10px;
    left: 145px;
  }
}
















  main {
    gap: 170px;
    flex-direction: column;
  }

  .rightContent {
    width: 100%;
    margin-top: 155px;
  }

  .imageCarousel img {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  .thumbnailCarousel {
    display: none;
  }

  .buy {
    left: -254px;
    z-index: 1;
  }
}

@media screen and (max-width: 540px) {
  header {
    gap: 7em;
  }

  .imageCarousel {
    padding: 20px 0;
    top: 13px;
    width: 280px;
  }

  main {
    overflow: scroll;
    gap: 50px;
  }

  .buy {
    left: -263px;
  }

}

@media screen and (max-width: 440px) {
  header {
    gap: 3em;
  }

  .btn {
    align-items: center;
    flex-direction: column;
  }

  .quantity {
    width: 80%;
  }

  .addToCart {
    width: 80%;
  }

  .description {
    width: 100%;
  }

  .buy {
    left: -230px;
  }

  .hiddenImage {
    width: 320px;
  }

  .hiddenThumbnail {
    display: none;
  }

  .previous {
    top: 276px;
    left: -150px;
  }

  .next {
    top: 207px;
    right: -150px;
  }

  .close{
    right: -150px;
  }

  .list ul li {
    width: 40vw;
  }
}

@media screen and (max-width: 380px) {
  main {
    overflow: scroll;
    gap: 20px;
  }

  .imageCarousel {
    padding: 20px 0;
    top: 9px;
    width: 230px;
  }

  .buy {
    left: -230px;
  }

}






